<h2>Here is the resulting file:</h2>
<br>
<%= link_to "your output", "uploads/spreadsheet/csv/#{@user.spreadsheets.first.user_id}/output.csv" %>

<br>
<br>
<h4>These were the files you uploaded:</h4>
<br>


<ul>
  <% @user.spreadsheets.each do |us| %>
    <li> <%= us.csv_identifier %> </li>
  <% end %>
</ul>








<br>
Now click here to merge them

<%= link_to "merged files", merge_path, :class => 'brand' %>

# send to new route and in the action perform csv merge. on rendered template offer download link to new merged csv result





