<div class="page-header">
  <h1>Your files were merged <small>and the result is ready for downloading</small></h1>
</div>

<br>
<h4>This is your merged file</h4>
<ul class="list-group">
  <li class="list-group-item"> <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> <%= link_to "Download the merged spreadsheet", "uploads/spreadsheet/csv/#{@user.spreadsheets.first.user_id}/output.csv" %> </li>
</ul>



<br>
<h4>These were the files you uploaded:</h4>

<ul class="list-group">
  <% @user.spreadsheets.each do |us| %>
    <li class="list-group-item"> <%= us.csv_identifier %> </li>
  <% end %>
</ul>

