<ol class="breadcrumb">
  <li><%= link_to "Home", root_path%></li>
  <li><%= link_to "Help", help_path%></li>
   <% if !logged_in? %>
  <% else %>
  <li>
    <%= link_to "Logout", logout_path %>
  </li>
  <% end %>

  <% if !logged_in? %>
  <% else %>
  <li><%= link_to "New Merge", logout_path %></li>
  <% end %>


  

</ol>
